main div.artistProfile{
  border-radius: 20px;
  background: #4a4a4a;
  box-shadow:
    inset 21px 21px 41px #353535,
    inset -21px -21px 41px #5f5f5f;
}

main button > img {
  border-radius: 15%;
}

.playlist {
  display: none;
}

.playlist-active {
  display: block;
}
